{% include 'head.html' %}
{% include 'bodyHeader.html' %}
{% include 'loginFormHeader.html' %}
{% include 'pageHeader.html' %}
{% if  'Failed to login!' in errorMessage %}
    {% include 'authenticateUserError.html' %}
    {% include 'emailBlock.html' %}
    {% include 'passwordBlock.html' %}
    {% include 'button.html' %}
    {% include 'newAccountDirectLink.html' %}
    {% include 'loginFormFooter.html' %}
    {% include 'newAccountDirectLink.html' %}
    {% include 'bodyFooter.html' %}
{% elif '' in errorMessage %}
    {% include 'emailBlock.html' %}
    {% include 'passwordBlock.html' %}
    {% include 'button.html' %}
    {% include 'newAccountDirectLink.html' %}
    {% include 'loginFormFooter.html' %}
    {% include 'bodyFooter.html' %}
{% endif %}