<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="twentynine" style="text-decoration: none;">
                <img src="/images/29.png" width="100px" height="100px">
                29
            </a>

        </div>
        <div class="col-sm-6">
            <a href="tictactoe" style="text-decoration: none;">
                <img src="/images/tictactoe.png" width="100px" height="100px">
                Tic Tac Toe
            </a>

        </div>
    </div>
</div>