{% include 'logout.html' %}
{% include 'head.html' %}

{% include 'bodyHeader.html' %}
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <div id="zerothBlock">
                    
                </div>
            </div>
            <div class="col-sm">
                <div id="firstBlock">
    
                </div>
            </div>
            <div class="col-sm">
                <div id="secondBlock">
    
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>
        <br>
        <div class="row justify-content-evenly">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div id="thirdBlock">
    
                </div>
            </div>
            <div class="col-sm">
                <div id="fourthBlock">
    
                </div>
            </div>
            <div class="col-sm">
                <div id="fifthBlock">
    
                </div>
            </div>
            <div class="col-sm">
                
            </div>
        </div>
        <br>
        <div class="row justify-content-evenly">
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                <div id="sixthBlock">
    
                </div>
            </div>
            <div class="col-sm">
                <div id="seventhBlock">
    
                </div>
            </div>
            <div class="col-sm">
                <div id="eighthBlock">
    
                </div>
            </div>
            <div class="col-sm">
                
            </div>
        </div>
    </div>
    <br> <br>
    <button id = "reloadPage" onclick="reloadPage()">
        Reload Page
    </button>

{% include 'bodyFooter.html' %}